@import "~bootstrap/scss/bootstrap";

.comment-toolbar-button-container {
    ion-img {
      width: 25px;
      height: 25px;
    }
  }
  
.input-comment-container {
  display: flex;
  align-items: center;

  ion-textarea {
    display: flex;
    align-items: center;
  }

  ion-button {
    --background: none;
    padding-right: 10px;
  }

  ion-img {
    width: 20px;
  }
}
