
// auto complete
.input-address-container {
  input {
    width: 100vw;
    border: none;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--ion-font-family, inherit);
  }
}

.input-suggestion {
  width: 100vw;
  height: 80px;
  background-color: white;
  border-bottom: 1px black dotted;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 1rem;
}

.latLng-text-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 100vw;
  color: grey;
  opacity: 50%;
}
// End auto complete

.added-journey-button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}
