$primary-color: #3880ff;

@mixin itemSize($width, $height) {
  width: $width;
  height: $height;
}

// Menu Bar

.direction-toolbar-button-container {
  ion-img {
    width: 25px;
    height: 25px;
  }
}

// Google Map
.map {
  @include itemSize(100vw, 35vh);
}

.you-are-here {
  @include itemSize(75px, 0px);
  font-size: 15px;
  font-weight: bold;
}

.you-are-here-button {
  position: absolute;
  margin: 10px;
  z-index: 1;

  button {
    @include itemSize(40px, 40px);
    border: none;
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }
}

.travel-mode-button {
  display: flex;

  Button {
    font-weight: bold;
    width: 100vw;
    border-radius: 0px;
    background-color: white;
    color: $primary-color;
    border: none;
    border-bottom: 3px solid $primary-color;

    ion-icon {
      margin-top: 5px;
    }
  }
}

.route-info-container {
  width: 100vw;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $primary-color;

  .info-duration {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
  }

  span {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }

  img {
    width: 20px;
  }
}

.start-end-point-info-container {
  width: 90vw;
  padding-left: 25px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #eb445a;
  font-weight: bold;
  padding-bottom: 35px;

  span {
    margin-left: 10px;
  }

  img {
    width: 20px;
  }
}

.walk-detail {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 15px;
  margin-left: 25px;
  padding-bottom: 25px;

  img {
    width: 15px;
  }

  // .instruction-container {
  //   width: 90vw;
  //   height:30px;
  // }

  .instruction {
    width: 90vw;
  }

  .my-hr {
    @include itemSize(100vw, 2px);
    background-color: grey;
  }

  span {
    width: 90vw;
    font-size: 13px;
    font-weight: 800;
    color: #92949c;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    line-height: 35px;
  }
}

.transit-detail {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 15px;
  margin-left: 25px;
  padding-bottom: 25px;

  img {
    width: 15px;
  }

  .transit-line-name-container {
    display: flex;
    justify-content: center;
    align-items:  center;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: whitesmoke;
    width: 70px;
  }

  .instruction {
    color: #16b182;
    padding-left: 20px;
  }

  span {
    width: 90vw;
    font-size: 13px;
    font-weight: 800;
    color: #92949c;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    line-height: 35px;
  }

  .transit-departure-arrival-container {
    margin-left: 25px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
  }

  .transit-number-stop-container {
    color: grey;
  }

  .my-hr {
    @include itemSize(100vw, 2px);
    background-color: grey;
  }
}
// End Google Map
