@mixin allCenter {
  display: flex;
  align-items: center;
  justify-items: center;
}

.main-content{

  ion-toolbar{
    height: 58.8px;
  }
  ion-button{
    background-color: #3880FF;
  }
}

.display-current-user-email {
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  line-height: 75px;
}

.count-trip-container {
  margin: 20px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

// Card
ion-grid {
 
  ion-card {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
    background: url("../icon/textBg.png");
    background-position: center;
    background-size: cover;
    filter: grayscale(40%);
    box-shadow: inset 50px 50px 100px rgba(0, 0, 0, 0.85);

    .card-button-container {
      display: flex;
      justify-content: flex-end;
      ion-button {
        --background: none;
        --background-activated: none;
        --background-hover: none;
      }

      ion-icon {
        color: white;
      }
    }

    .card-content-container {
      padding: 15px;
      margin-bottom: -5px;
      ion-card-title {
        font-size: 24px;
        color: whitesmoke;
        margin-bottom: 5px;
      }

      ion-card-subtitle {
        font-weight: bold;
        font-size: 12px;
        color: whitesmoke;
      }
    }
  }
}
// End Card

// Add Friend To Trip
.list-email-container {
  .list-email-title {
    font-size: 18px;
    font-weight: bold;
    color: #808289;
    padding: 5px 0 5px 0;
    text-align: center;
  }

  .list-email {
    color: gray;
    text-align: center;
  }
}
// End Add Friend To Trip

// Create Trip
.create-trip-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  .create-trip-button {
    width: 50vw;
    border-radius: 100%;
  }
}

// End Create Trip
