.journey-toolbar-button-container {
  ion-img {
    width: 25px;
    height: 25px;
  }

}

.journey-trip-info-container {
  width: 100vw;
  height: 30vh;
  background: url("../icon/textBg1.jpeg");
  background-position: center;
  background-size: cover;
  filter: grayscale(40%);
  box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.85);

  .journey-trip-info {
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  ion-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 5px;
  }

  ion-card-subtitle {
    font-weight: bold;
    font-size: 1rem;
    color: whitesmoke;
  }
}

// Journey Information
.journey-card-container {
  margin-top: 10px;

  ion-grid{
    margin: 0!important;
    padding: 0!important;
  }

  .highlight-that-day {
    color: #3880ff;
  }

  .date-card-title-container {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
  }

  .journey-info-container {
    ion-card {
      background: none;
      filter: grayscale(0%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .highlight-current-time {
      background-color: #3880ff;
      color: white;

      ion-card-title {
        color: white;
      }
      .journey-gps-path-container {
        border-left: 2px solid white;
      }
    }

    ion-card-title {
      font-weight: 500;
      padding: 10px 10px 10px 10px;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
    }

    ion-card-content {
      padding: 5px 5px 10px 10px;
      font-size: 13px;
      font-weight: 400;
    }

    .start-time-font-size {
      font-size: 12px;
      display: flex;
      align-items: center;
    }

    .journey-gps-path-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 2px solid #3880ff;

      .journey-gps-path {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        line-height: 30px;

        span {
          width: 25px;
        }

        ion-img {
          width: 25px;
        }
      }
    }
  }

  .add-journey-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .add-journey-title {
      width: 200px;
      border: dashed 3px grey;
      color: grey;
      border-radius: 3px;
      text-align: center;
      padding: 10px;
    }
  }

  
}
.message-board-container{
  ion-button {
    height: 46px;
    margin: 0;
    width: 100vw;
    --border-radius: none;
  }
}