@import "~bootstrap/scss/bootstrap";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin mainTitle($borderBottom) {
  font-size: 21px;
  border-bottom: $borderBottom;
  margin-bottom: 15px;
}

.login-bg {
  background: url("../icon/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  box-shadow: inset 0px 250px 300px rgba(0, 0, 0, 0.85);
}

// Select Login or Register
.box-container {
  @include flexCenter(column);

  .box-controller {
    @include flexCenter(row);
    margin: 30px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    background-color: white;

    .controller {
      width: 120px;
      height: 50px;
    }
    .selected-controller-login {
      border-bottom: 5px solid #007dff;
      border-radius: 0px 0px 0px 5px;
    }
    .selected-controller-register {
      border-bottom: 5px solid #dc3545;
      border-radius: 0px 0px 5px 0px;
    }

  }
}
//End Select

//Login
.login-container {
  @include flexCenter(column);
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;

  img {
    width: 20px;
  }

  .form-group {
    margin: 0 !important;
  }

  .login-title {
    @include mainTitle(3px solid #007dff);
  }

  .social-login-line{
    @include mainTitle(3px solid white);
    border-radius: 100px;
  }

  .login-input {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .login-input,
  ::placeholder {
    text-align: center;
    font-size: 12px;
  }

  .login-input:focus {
    background-color: rgb(251, 251, 190);
    border-radius: 5px;
    color: black;
    box-shadow: none;
    border: none;
  }

  .login-input:focus::placeholder {
    color: rgb(251, 251, 190);
  }

  .login-box {
    width: 65vw;
    color: white;
  }

  .login-button-container {
    padding-top: 10px;
    padding-bottom: 25px;
    button {
      font-size: 12px;
      width: 120px;
      font-weight: bold;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }
}
//End Login

// Login Error Message
ion-toast {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
// End Login Error Message

//Register
.register-container {
  @include flexCenter(column);
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  .form-group {
    margin: 0 !important;
  }

  img {
    width: 20px;
  }

  .login-title {
    @include mainTitle(3px solid #007dff);
  }
  .register-title {
    @include mainTitle(3px solid #dc3545);
  }

  .register-input {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .register-input,
  ::placeholder {
    text-align: center;
    font-size: 12px;
  }
  .register-input:focus {
    background-color: rgb(251, 251, 190);
    border-radius: 5px;
    color: black;
    box-shadow: none;
    border: none;
  }
  .register-input:focus::placeholder {
    color: rgb(251, 251, 190);
  }

  .register-box {
    width: 65vw;
    color: white;
  }

  .register-button-container {
    padding-top: 10px;
    padding-bottom: 25px;
    button {
      font-size: 12px;
      width: 120px;
      font-weight: bold;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }
}
//End Register

// Google & Facebook Login
.social-login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .social-login {
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        margin: 0px !important;
        padding: 0px !important;
      }

      span {
        padding: 0px !important;
      }
    }

    .my-google-button-class {
      width: 50px;
      height: 50px;
      border-radius: 100px !important;
      border: none;
      color: white;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5) !important;
    }

    .my-facebook-button-class {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      border: none;
      background-color: white;
      color: #3880ff;
      border: 1px solid transparent;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
