.material-toolbar-button-container {
  ion-img {
    width: 25px;
    height: 25px;
  }
}

.add-material-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 200px;
  padding-top: 10px;

  ion-input {
    width: 90vw;
    height: 40px;
    border-radius: 3px;
    background-color: grey;
    color: white;
  }
}

.material-data-container {
  padding-left: 20px;
  padding-top: 20px;
  width: 97vw;

  .material-checkbox-item-delete-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold; 

    .material-checkbox-item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .material-item{
        padding-left: 10px;
      }
    }

    .remove-button{
      
      button{
        background-color: white;
      }

      ion-img{
        width: 25px;
      }
    }
  
  }



  .group-material-assignee {
    font-size: 18px;
    color: grey;
    display: flex;
    justify-content: space-between;
  }
}

.save-group-material-button {
  ion-button {
    margin: 0;
    width: 100vw;
    --border-radius: none;
  }
}

// Individual Materials

.itembutton {
  width: 48vw;
}